img {
    height: 350px;
    width: 100%;
    opacity: 0.85;
  }
  
  h1 {
    top: 30%;
  }
  
  p {
    font-style: italic;
  }
  
  body {
    background-color: whitesmoke;
  }
  
  #map {
    position: relative;
    border: 1.5px solid black;
    border-radius: 10px;
    height: 600px;
    width: 100%;
  }
  
  #map2 {
    position: relative;
    border: 1.5px solid black;
    border-radius: 10px;
    height: 600px;
    width: 100%;
  }
  
  .aqi-chart {
    float: left;
  }

  label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }